<div class="container mt-4" [formGroup]="locationForm">

  <!-- Modal Dialog for Adding Department -->
  <p-dialog header="Add Locations" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{width: '400px'}" >
      <form (ngSubmit)="addLocation()" [formGroup]="locationForm">
          <div class="p-field">
              <label for="name">Location</label>
              <input id="locationName" type="text" pInputText formControlName="locationName" placeholder="Name">
          </div>
            
        <div class="flex justify-content-center gap-2">
          <p-button label="Add" type="submit" class="p-button-primary"></p-button>
          <p-button label="Cancel" class="p-button-secondary" (click)="hideDialog()"></p-button>
      </div>
      </form>
  </p-dialog>

  <!-- Location Table -->
  <!-- <h2 class="text-center mt-5 mb-3">Locations</h2> -->
  <div class="p-grid">
    <div class="col-12">
        <div class="card">
          <p-table [value]="locations" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="caption">
                  <div class="flex">
                      <p-button label="Add" class="p-button-primary" (click)="showDialog()"></p-button>
                      </div>
                      </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th>Location ID</th>
                      <th>Location Name</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-location>
                  <tr>
                      <td>{{ location.id }}</td>
                      <td>{{ location.name }}</td>
                      <td>
                          <div class="flex justify-content-center gap-2">
                              <button pButton icon="pi pi-pencil" [routerLink]="'/updatelocation/' + location.id" class="p-button-success"></button>
                              <p-toast />
                              <p-confirmPopup>
                                  <ng-template pTemplate="content" let-message>
                                      <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
                                          <i [class]="message.icon" class="text-6xl text-primary-500"></i>
                                          <p>{{ message.message }}</p>
                                      </div>
                                  </ng-template>
                              </p-confirmPopup>
                              <p-button (click)="confirm($event,location.id)" icon="pi pi-trash"></p-button></div>
                          </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>
