.custom-messages .p-message {
    padding: 0.5rem; /* Adjust padding as needed */
    margin-bottom: 0.5rem; /* Adjust margin between messages */
    font-size: 2px; /* Adjust font size */
  }
  
  .custom-messages .p-message-icon {
    font-size: 2px; /* Adjust icon size */
  }
  